blinker==1.9.0
boto3==1.35.76
botocore==1.35.76
click==8.1.7
colorama==0.4.6
common-fate-schema==0.7.0
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
numpy==2.2.4
pandas==2.2.3
provider==0.11.0
pydantic==1.10.19
python-dateutil==2.9.0.post0
pytz==2025.2
s3transfer==0.10.4
six==1.17.0
toml==0.10.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
Werkzeug==3.1.3